

*{
    margin:5;
    padding:5 ;
   
}
:root{
    --primary-color:#2D4A73 ;
    --secondary-color: #6AC6E2;
    --accent1-color:#8CCB84 ;
    --accent2-color:#DBCCA5 ;
    --heading-font: 'Young Serif', 'Arial';
    --paragraph-font:'Roboto' 'sans serif' ;
    --navigation-background-color:#2D4A73 ;
    --navigation-link-color:#000000 ;
    --navigation-hover-link-color:white ;
    --navigation-hover-background-color:#2D4A73 ;
}
body{text-align: center;}
h1, h2 {
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}
h1{
    font-weight: bolder;
}
nav a{
    text-decoration: none;
    
}
header {
    display:grid;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
	align-items: center;
    background-color: #6AC6E2;
    padding: 10px 20px; 
    margin-bottom: 20px;
}
header img {
    width: 100px;
    height: auto;
    grid-column: 1/2;
}
header nav{
    grid-column: 2/4; 
    align-content:space-between; 
}

.flot {
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
    margin-bottom: 20px;
}

.wrapper > div {
    background-color: var(--accent1-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.con1 {
    background-color: var(--accent2-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.container img {
    width: 100%;
    height: auto;
    border: 1px solid gray;
    border-radius: 10px;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 20px;
    background-color: #DBCCA5;
    
}
label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}
label{
      text-align:right ;
      padding-right: 1rem;
}
input, select, textarea{
      padding:0.5em ;
      font-size:1.1rem ;
}
textarea{
    display: block;
    padding: 20px;
    margin: 10px;
    align-self: center;
}
input[type="checkbox"] {
      width: 22px;
      height: 22px;
      vertical-align: bottom;
}
button[type="submit"] {
    width: 100px auto;
    padding: 10px;
    background-color:rgba(206, 133, 133, 0.423);
    color:black;
    border: 2px solid #ccc;
    border-radius:20px ;
    font-size: 18px;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: grey;
}
footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    
    text-align: center;
    background-color: #6AC6E2;
    
    
}
footer p{
    grid-column: 1/3;
    justify-self: stretch;
    margin-left: 75px auto;
    
}
footer nav{
    grid-column: 3;
}