@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Young+Serif&display=swap');

*{
    margin:5;
    padding:5 ;
}



:root{
    --primary-color:#2D4A73 ;
    --secondary-color: #6AC6E2;
    --accent1-color:#8CCB84 ;
    --accent2-color:#DBCCA5 ;
    --heading-font: 'Young Serif', 'Arial';
    --paragraph-font:'Roboto' 'sans serif' ;
    --navigation-background-color:#2D4A73 ;
    --navigation-link-color:#000000 ;
    --navigation-hover-link-color:white ;
    --navigation-hover-background-color:#2D4A73 ;
}
h1, h2 {
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}
h1{
    font-weight: bolder;
}


nav a{
    text-decoration: none;
    
}
header {
    display:grid;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
	align-items: center;
    background-color: #6AC6E2;
    padding: 10px 20px; 
    margin-bottom: 20px;
}
header img {
    width: 100px;
    height: auto;
    grid-column: 1/2;
}
header nav{
    grid-column: 2/4; 
    align-content:space-between; 
}
.banner{
    position: relative;
    padding-bottom: 20px;
}
.banner-text{
    position:absolute;
    top: 25px;
    padding: 20px;
    color: #fff;
}
.banner-text h2{
    font-size: 46px;
    color:#1a6981;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 5px;
}
.banner p{
    font-size:20px ;
    font-weight: bold;
}
.banner img {
    width: 1250px;
    height: auto;
    background-size: cover;
   
}
.burn{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-self: auto;
}
.aba{
    grid-column: 2/4;
}
.aba img{
    height: 400px;
    width: 400px;
}
form button{
   margin-left: 120px;
}
form {
    max-width: 300px;
    height: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: block;
    border-radius: 20px;
}
figcaption{
    padding-top: 50px;
}
label {
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 5px;
}
section button[type="submit"] {
    max-width: 400px;
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    
}
section h3{
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
}

 section button[type="submit"]:hover {
    background-color: #0051a0;
}

.crop img{
    width: 600px;
    height: 550px;
    border-radius: 20px;
}

.crop {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding-top: 40px;
    padding-bottom: 40px;
}
.crop p{
    word-spacing: normal;
}
button{
    margin-top: 40px;
    height: 20px;
    width: 90px;
    background-color:#6AC6E2 ;
    border-radius: 10px;
    margin-left: 600px; 
    padding-bottom: 20px;
}
button:hover{
    color: #0b4d61d0;
}
.hum img {
    height: 300px;
    width: 400px;
}

.hum{
    display: grid;
}

.fan img{
    width: 350px;
    height: 250px;
}

.fan{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
}
.frame{
    
    text-decoration: none;
    top: 30px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    
    text-align: center;
    background-color: #6AC6E2;
    
    
}
footer p{
    grid-column: 1/3;
    justify-self: stretch;
    margin-left: 75px auto;
    
}
footer nav{
    grid-column: 3;
}