@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Young+Serif&display=swap');
:root{
    --primary-color:#2D4A73 ;
    --secondary-color: #6AC6E2;
    --accent1-color:#8CCB84 ;
    --accent2-color:#DBCCA5 ;
    --heading-font: 'Young Serif', 'Arial';
    --paragraph-font:'Roboto' 'sans serif' ;
    --navigation-background-color:#2D4A73 ;
    --navigation-link-color:#000000 ;
    --navigation-hover-link-color:white ;
    --navigation-hover-background-color:#2D4A73 ;

}
body{
   font-family:'Roboto' 'Arial' var(--paragraph-font) ; 
   max-width: 960px;
   padding: 4em;
   text-align: center;
   margin:0 auto;
   font-size: 18px;

}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: lighter;
    color: var(--primary-color);
}
h1, h2 {
    font-weight: bolder;
}
header{
    padding:25px ;
    background-color: var(--accent1-color);
}
p{
    padding: 20px;
}
img {
    
    margin:0 auto ;
}
.content-table{
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}
.content-table th,
.content-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;

}
.content-table{
    background-color: #b3b3b3;
    color: #000;
    height: 100px;
}
.primary-color {
    background-color: #2D4A73;
}
.secondary-color {
    background-color: #6AC6E2;
}
.accent1-color {
    background-color: #8CCB84;
}
.accent2-color {
    background-color:#DBCCA5 ;
}
nav{
    background-color: var(--navigation-background-color);
    font-size: 1.2em;
    display: flex;
}
nav a {
    display: block;
    color: var(--navigation-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--navigation-link-color);
}
nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}
hr {
    margin-top: 15px;
    border-top: 5px solid #8CCB84;
}
footer{
    margin-top: 15px;
    border-top: 5px solid #8CCB84;
    text-align: center;
}