@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Young+Serif&display=swap');

body{
    margin:5;
    padding:5;
}



:root{
    --primary-color:#2D4A73 ;
    --secondary-color: #6AC6E2;
    --accent1-color:#8CCB84 ;
    --accent2-color:#DBCCA5 ;
    --heading-font: 'Young Serif', 'Arial';
    --paragraph-font:'Roboto' 'sans serif' ;
    --navigation-background-color:#2D4A73 ;
    --navigation-link-color:#000000 ;
    --navigation-hover-link-color:white ;
    --navigation-hover-background-color:#2D4A73 ;
}
h1, h2 {
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
}
h1{
    font-weight: bolder;
    font-size: 50px;
}
h2{
    font-size: 25px;
}


nav a{
    text-decoration: none;
    
}



header {
    display:grid;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
	align-items: center;
    background-color: #6AC6E2;
    padding: 10px 20px; 
    margin-bottom: 20px;
}
header img {
    width: 100px;
    height: auto;
    grid-column: 1/2;
}
header nav{
    grid-column: 2/4; 
    align-content:space-between; 
}
.crop img{
    width: 600px;
    height: 500px;
}

.crop {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.crop p{
    word-spacing: normal;
}
span{
    color: rgb(231, 49, 49);
    font-size: 20px;
    font-weight: bold;
}
.cup img {
    width: 400px;
    height: 300px;
}
.cup{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding-bottom: 40px;
}

.hop img {
    width: 400px;
    height: 300px;
}

.hop{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

button{
    margin-top: 40px;
    height: 30px;
    background-color:#6AC6E2 ;
    border-radius: 10px;
    margin-left: 600px; 
    margin-top: 20px;
}
button:hover{
    color: #0b4d61d0;
}

footer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 15px;
    
    text-align: center;
    background-color: #6AC6E2;
    
    
}
footer p{
    grid-column: 1/3;
    justify-self: stretch;
    margin-left: 75px auto;
    
}
footer nav{
    grid-column: 3;
}