.callout {
	max-width: fit-content;
    margin: auto;
    border: ;
    padding: ;
    background-color: blue;
    -webkit-text-fill-color: beige;
}

.callout img {
	position:left ;
    margin: auto;
    padding: auto;
    background-color: aliceblue;
    width: 50px;
    height: auto;
}

blockquote {
	margin: auto;
}

cite {
	display: ;
    border-top: 0cap;
    padding: auto;
    text-align: center;
    font-size: small;

}