@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
   
}

@media only screen and (max-width: 40em) {
    main  div {
        display: block;
    }
    main img {
        width: 100%;
        padding-bottom: 20px;
	
}
 
}