:root {
    --primary-color : rgb(56, 156, 56);
    --secondary-color : beige;
    --heading-font : "",serif;
    --paragraph-font : "Roboto",sans-serif;
    }
    body{
        margin: 1rem auto;
    }
    
    header {
    background-color : var(--primary-color);
    border-bottom : 15px solid var(--secondary-color);
    color : #fff;
    text-align : center;
    padding-top : 5px;
    }
    header h1{
        text-transform: capitalize;
    }
    main picture {
        height: auto; /* Corrected from 100% auto */
        width: 100%;
        border-bottom: 2px solid var(--primary-color);
    }
    

   main section{
    text-align: center;
   }
   section span{
    text-decoration: solid;
    font-weight: bold;
   }
   section h2{
    font-weight: bolder;
    font-size:40px ;
   }
   .info{
    padding: 5px;
   }
   .temp img{
    height:  150px ;
    width: 200px;
    object-fit: cover;
   }
   footer {
    background-color:var(--primary-color);
    padding: 20px;
    text-align: center;
    font-size: larger;
}


/* Styles for larger screens */
@media only screen and (min-width: 1001px) {
   
    
    .container{
        display: grid;

    }
    picture img {
        width: 100%; /* Ensure the source image takes full width */
        height: 700px; /* Maintain aspect ratio */
    }
    
    h2 {
        color : black;
        background-color : #938ea5;
        text-align : left;
        padding: 5% 9%;
        position : relative;
        right : 10%;
        }
    .info {
            background-color :rgba(204, 193, 193, 0.589);
            border : none;
            width : 250px;
            grid-column: 1/2;
            position : absolute;
            opacity : 0.7;
            margin-left: 30px;
            }
     .temp {
                background-color : rgba(204, 193, 193, 0.589);
                width : 200px;
                justify-self : end;
                grid-column: 1/2;
                opacity : 0.7;
                position : absolute;
                margin-top: 25%;
                margin-right: 30px;
                }
        .temp h2::after {
                    content : "⛅";
                    position: absolute;
                    /* Adjust this value to fine-tune positioning */
                    left:90%;
                    }
                    
        .temp img {
            display: none;
        }

}

/* Styles for smaller screens */
@media only screen and (max-width: 700px) {
    picture img {
        width: 100%; /* Make the small image responsive */
        height: auto; /* Maintain aspect ratio */
    }
}
/* Styles for smaller screens */
@media only screen and (max-width: 1000px) {
    picture img {
        width: 100%; /* Make the small image responsive */
        height: auto; /* Maintain aspect ratio */
    }
}

