*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}
header{
    display: flexbox;
    background-color: #4682B4;
    padding: 20px;
    text-align: center;
    font-size: larger;
    margin-bottom: 15px;
}


footer {
    background-color: #4682B4;
    padding: 20px;
    text-align: center;
    font-size: larger;
    margin-top: 15px;
}
footer span{
    font-size: 20px;
}
